player-connection-mode=Listen
player-connection-guid=1093091827
player-connection-debug=0
player-connection-ip=172.28.36.145
player-connection-ip=169.254.132.34
player-connection-ip=169.254.104.184
player-connection-ip=10.0.75.1
player-connection-ip=10.40.130.33
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
scripting-runtime-version=latest
vr-enabled=0
